body{
    display: flex;
    align-items: center;
    padding-bottom: 40px;
    background-image: url(../image/cloud.png);
    width:100%;
    background-size: cover;
    background-position: center;
} 

/******* GITHUB/LINKEDIN LOGO *******/

.info-logo-index{
    font-size: 30px;
    margin-right: 20px;
    margin-bottom: 40px;
}

.fa-linkedin{
    color: #0077b5;
}

.fa-github{
    color:#24292e;
}
input, button{
    font-family: 'Carter One', cursive;
}
/********** INDEX.PHP **********/
a{
    text-decoration: none;
    color: black;
}
html, body{
    height: 100%;
    font-family: 'Carter One', cursive;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

/***** FORMS *****/
.form-signin, .logs, .form-note, .form-signup{
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

/******* LOGS WRITTING FIELD ********/
.logs {
    display: block;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color:#ffffff;
    background-clip: padding-box;
    border: 1px solid #707070;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
} 


form{
    width: 100%;
    height: 85%;
}

h2{
    text-align: center;
    font-size: 30px;
    color: #222e3b;
}
.main-page-title{
    font-size: 50px;
    text-align: center;
    color: #222e3b;
}

/****** DIV BUTTON ******/
.button{
    display: flex;
    justify-content: space-around;
}

/****** BUTTONS ******/
.button-signin, .button-signup, .btn-action, .btn-action2, .btn-action3{
    background-color: #009ee0;
    border-color:#009ee0;
    height: 40px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
}

/********** HOVER FUNCTION *********/
[type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}

.logo-index{
    font-size: 110px;
    text-align: center;
    color: #0072b6;
}

/******* REGISTER.PHP **********/

.form-signup {
    height: auto;
    max-width: 330px;
    margin: auto;
}
.userData{
    height: 45px;
    margin-top: -10px;
}
.userData, .noteData{
    width: 100%;
    background-color:#ffffff;
    color: #495057;
    background-clip: padding-box;
    border: 1px solid #009ee0;
    border-radius: 5px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    font-weight: 400;
    line-height: 1.5;
    padding-left: 3px;
}

/********  NOTEPAGE.PHP *********/

.form-note {
    height: 100%;
    max-width: 1000px;
    padding: 15px;
}

.noteContent{
    width: 100%;
    max-width: 970px;
    height: 400px;
    border-radius: 5px;
    border: 1px solid #009ee0;
    margin-top: 30px;
    font-family: 'Carter One', cursive;
}

.btn-note-submit{
    display:flex;
    justify-content: right;
    flex-direction: row-reverse;
    margin-top: 15px;
}

.btn-action2{
    margin-right: 10px;
    background-color: red;
    border-color: red;
}

.btn-action3{
    background-color: red;
    border-color: red;
}

#note-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.title-field{
    width: 100%;
    height: 7.5%;
    display: flex;
}

.note-page-title{
    font-size: 25px;
    padding-left: 6px;
}

.logo-note{
    padding-top: 23px;
    font-size: 25px;
    color: #0072b6;
}

.noteData{
   
    height: 6%;
    margin-top: 6px;
 
}

.form-bloc{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.noteBody{
    flex-direction: column;
}

/******** ERROR MESSAGE **********/
.error{
    margin-bottom: 20px;
    color: red;
    font-size: 20px;
    width: 16%;
    height: 58px;
    border: 1px solid red;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
} 

/****** NOTELISTE.PHP *******/
.noteTable, .btn-newNote{
    display: flex;
    justify-content: center;
}

.btn-newNote{
    margin-bottom: 20px;
}

/**** BODY OF THE TABLE CREATED WHILE SELECTING NOTES OF THE USER ****/
tbody{
    width: 900px;
    height: 100%;
    display: flex;
    flex-direction: column;
    border: 5px solid black;
    border-radius: 10px;
    background-color: #ffffff;
    justify-content: center;
    padding-bottom: 5px;
}
tr{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

th{
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.liste-container{
    width: 100%;
    height: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

.fa-pencil-alt, .fa-trash-alt{
    font-size: 30px;
    color: black;
}

.table-info{
    color: #009ee0;
}
